 /* Hide alt text of PDF embed */
.internal-embed.pdf-embed::before {
    display: none;
}

/* ![[filename.pdf|fix]] will block pointer events */
.internal-embed.pdf-embed[alt="fix"] .pdf-container {
    pointer-events: none;
}

/* Hide toolbar at the top. */
.internal-embed.pdf-embed[alt="fix"] .pdf-toolbar {
    display: none;
}
